<ng-container *ngIf="movie$ | async as movie">
  <div>
    <button [routerLink]="['/']">Back</button>
    <h1>{{ movie.title }}</h1>
    <div class="summary-div">
      <img [src]="movie.poster" />
      <p>{{ movie.summary }}</p>
    </div>
    <div class="details-container">
      <h2>Details</h2>
      <table class="details-table">
        <tr>
          <th>Box office</th>
          <td>{{ movie.box_office }} million</td>
        </tr>
        <tr>
          <th>Budget</th>
          <td>{{ movie.budget }} million</td>
        </tr>
        <tr>
          <th>Duration</th>
          <td>{{ movie.duration }} minutes</td>
        </tr>
        <tr>
          <th>Producers</th>
          <td>{{ movie.producers }}</td>
        </tr>
        <tr>
          <th>Cinematographers</th>
          <td>{{ movie.cinematographers }}</td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>
